extends ../../../layout

block content

  .container-fluid
    .row
      .col-sm-3.col-md-2.d-none.d-sm-block.bg-light.sidebar
        h3.text-muted JS API
        ul.nav.nav-pills.flex-column
          li.nav-item
            a.nav-link.active(href='#') Introduction
          li.nav-item
            a.nav-link(href='#') Dependencies
      main.col-sm-9.ml-sm-auto.col-md-10.pt-3
        h1 Introduction to the JS APIs