-
.container
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='/') Fliplet Developers
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        each section in menu
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='/', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')=section.label
            .dropdown-menu
              each page in section.pages
                a.dropdown-item(href=page.uri)=page.title

        //- li.nav-item.active
        //-   a.nav-link(href='/')
        //-     | Customize
        //-     span.sr-only (current)
        //- li.nav-item
        //-   a.nav-link(href='index.html#') Building themes and menus
        //- li.nav-item
        //-   a.nav-link.disabled(href='index.html#') Disabled
        //- li.nav-item.dropdown
        //-   a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
        //-   .dropdown-menu(aria-labelledby='dropdown01')
        //-     a.dropdown-item(href='index.html#') Action
        //-     a.dropdown-item(href='index.html#') Another action
        //-     a.dropdown-item(href='index.html#') Something else here
      form.form-inline.my-2.my-lg-0(method='get', action='/search')
        input.form-control.mr-sm-2(name='q', type='text', placeholder='Search', aria-label='Search', value=query)
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search