extends layout

block page
  -
    if (error.status === 404)
      message = 'Page not found'
    error.stack = null


  .container
    h1=message
    p.text-muted=error.status
    if error.stack
      hr
      pre #{error.stack}
    hr
    p
      a.btn.btn-primary(href='/', role='button') Head back to homepage »