extends layout

block content
  .jumbotron.hero-1
    .container
      h1.display-3 Build with Fliplet
      p
        | Out development tools easily allow you to create or edit app screen layouts, customise and build components, themes and menus on our platform. Learn the basics of our CLI to get started building in no time.
      p
        a.btn.btn-lg(href='/quickstart', role='button') Getting started
  .container
    // Example row of columns
    .row
      .col-md-4
        h2 Customize layouts
        p
          | Making changes to app layouts don't require you to install any software. Following our simple examples you will be able to customise your apps from Fliplet Studio and extending their screens with new powerful functionalities.
        p
          a.btn.btn-secondary(href=menu[0].pages[0].uri, role='button') See examples »
      .col-md-4
        h2 Build &amp; extend
        p
          | Our development tools easily allow you to create or extend components, themes and menus to be published on Fliplet under your organisation components. Lots of examples will get you to speed in just a few minutes even if it's your first time writing Javascript.
        p
          a.btn.btn-secondary(href=menu[2].pages[0].uri, role='button') Quickstart »
      .col-md-4
        h2 Read our docs
        p
          | Skim through our advanced and detailed documentation to learn how to interact with all features we publicly make available to you. Find examples on how to use our simple but capable JS API or the more advanced RESTful API that our platform provide.
        p
          a.btn.btn-secondary(href='/', role='button') Advanced documentation »