extends ../../layout

block content
  .jumbotron
    .container
      h1.display-3 Screen layouts
      p Making changes and using advanced features on your app screens
  .container
    h2 Making changes to your screens layouts

    hr

    h2 Managing and creating new editable sections

    hr

    h2 Extending your layout functionalities