$color-primary: #00abd2

body
  padding-top: 3.5rem

#page
  padding-top: 2rem

.jumbotron.hero-1
  background-color: $color-primary
  color: #FFF

  .btn
    background-color: #FFF
    color: $color-primary

.card pre
  margin-bottom: 0