$color-primary: #00abd2
$color-secondary: #ed9119
$color-tertiary: #1bb188

body
  padding-top: 3.5rem

#page
  padding-top: 2rem

.jumbotron
  &.hero-1
    background-color: $color-primary
    color: #FFF

    .btn
      background-color: #FFF
      color: $color-primary

  &.hero-2
    background-color: $color-secondary
    color: #FFF

    .btn
      background-color: #FFF
      color: $color-secondary

  &.hero-3
    background-color: $color-tertiary
    color: #FFF

    .btn
      background-color: #FFF
      color: $color-tertiary

.card pre
  margin-bottom: 0