extends ../layout

block page
  .container
    h1.text-center.display-3 Quickstart
    hr
    p Depending on whether you're just making a few changes to your apps or you need to build complex components, we've got you covered! Simply choose among the options below to help us understand what you're trying to do with Fliplet.

    .row
      .col-6
        .card
          .card-body
            h4.card-title I want to edit screens layouts
            p.text-muted Little or no development experience
            p.card-text
              | If you're looking to make changes to your app screens, there's no additional tools required. Some basic HTML and Javascript experience might required, depending on the changes you want to make.
            a.btn.btn-primary(href=menu[0].pages[0].uri) Start making changes
      .col-6
        .card
          .card-body
            h4.card-title I want to build a component or theme
            p.text-muted Basic <u>Javascript</u> development experience
            p.card-text
              | If you're looking to make changes to your app screens, there's no additional tools required. Some basic HTML and Javascript experience might required, depending on the changes you want to make.
            a.btn.btn-primary(href=menu[2].pages[0].uri) Getting started with the Fliplet CLI