extends ../layout

block page
  .container
    h1 Quickstart
    p
      | Out development tools easily allow you to create or edit app screen layouts, customise and build components, themes and menus on our platform. Learn the basics of our CLI to get started building in no time.